@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

body {
    max-width: 1230px; /* верно ли так */
    font-family: "Lato";
}

.header {
    background-color: aquamarine;
    text-align: center;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 120px;
}
[class*="__container"]{
	max-width: 600px;
	margin: 0 auto;
}
.about {
    margin-bottom: 200px;
}

.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
    text-align: left;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    line-height: 1.6;   
    color: #424551;    
}

.main__text {
    margin-bottom: 48px;
}

h3{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: #1E212C;
}
.list {

}
.list-item {
    font-weight: 400;
    line-height: 1.6;
    color: #424551;   
    background: url("../img/check.svg") 0 6px no-repeat;
    padding-left: 32px;
}

.list-item:hover::before {
    transform: scale(1.5);
}

.list-item:not(:last-child){
    margin-bottom: 4px;
}

.course {
    margin-bottom: 316px;
}

.course__title {
    font-weight: 700;   
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.course__curator-name {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
    margin-bottom: 16px;
}

.course__curator-position {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #787A80;
    margin-bottom: 32px;
}

.statistics {
    font-weight: 700;   
    line-height: 160%;   
    color: #424551;
    margin-bottom: 32px;
}

.statistics p {
    padding-left: 24px;
}

.statistics__rate {
    background: url('../img/Star.svg') 0 6px no-repeat;  
   
}
.statistics__courses {
    background: url('../img/Play.svg') 0 6px no-repeat;   
}
.statistics__students {
    background: url('../img/Profile.svg') 0 6px no-repeat;   
}

/* PRACTICE */

.practice-child p:not(:last-child) {
    margin-bottom: 20px;
}

.practice-child p:nth-child(even){
    background-color: rgb(173, 41, 41);
}


.practice__pseudoclass div:not(:last-child) {
    margin-bottom: 20px;
}

.practice__pseudoclass div:first-child {
    color: #e7d918;
    word-spacing: 5px;
}

.block-hov {
    background-color: #1954d4;
	color: #fff;
	padding: 15px;
    font-weight: 400;
}

.block__content {    
    visibility: hidden;
    opacity: 0;
}

.block-hov:hover .block__content {
    visibility: visible;
    opacity: 1;
}

.block-act {
    padding: 30px;
    background-color: #787A80;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
}

.link {
 display: block;
 margin-bottom: 20px;
 border: 2px solid rgb(232, 232, 45);   
}

.link:active {   
    color: rgb(239, 246, 247);   
    background-color: #4ecd0f;
}

.link:visited {
    color: rgb(213, 130, 20);
}

.list-practice a {
    display: block;
}

.list-practice li {
    margin-bottom: 5px;
}

.list-practice ul{
	margin-left: 20px;
}

.second-level-ul{
	display: none;
}

.third-level-ul li {
    display: none;
}

ul li:hover ul {
    display: block;
}

.second-level-ul li:hover .third-level-ul li{
    display: block;
}

.link-foc:focus{
	outline: 5px solid red;
}

.practice-block{
	background-color: #388d0a;
	color: rgb(123, 16, 16);
	padding: 15px;
	display: none;
}
.practice-block:target{
	display: block;
}

.footer {
    background-color: rgb(77, 115, 164);
    text-align: center;
    font-size: 50px;
    line-height: 1.5;
}

